<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <!-- NAV -->
    <%- include('./partials/nav.ejs') %>
    <!-- MAIN -->
    <main>
        <h1>Carrito de compras</h1>
        <section>
            <article>
                <img src="./images/products/Funda Para Notebook Gadnic.jpg" alt="Funda Estuche Para Notebook Gadnic 14 Pulgadas Color Negro">
                <div>
                    <h3>Funda Estuche Para Notebook Gadnic 14 Pulgadas Color Negro</h3>
                    <h4>$13.999</h4>
                    <label for="cant">Cantidad</label>
                    <input type="number" name="cant" id="cant" min="1" max="5">
                    <button type="submit">Quitar del carrito</button>
                </div>
            </article>
        </section>
        <section>
            <div>
                <h3>$13.999</h3>
            </div>
            <div>
                <h3>Formas de Pago</h3>
                <h2>Tarjeta</h2>
                <h2>Efectivo</h2>
            </div>
            <div>
                <input type="submit" value="Comprar">
            </div>
        </section>
    </main>
    <!-- FOOTER -->
    <%- include('./partials/footer.ejs') %>
</body>

</html>