<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>
    <!-- NAV -->
    <%- include('./partials/nav.ejs') %>
    <!-- MAIN -->
    <main>
        <section id="destacados">
            <h2>Destacados</h2>
            <section class="art-sect">
                <h3>Accesorios de PC</h3>
                <section class="articulos">
                    <article class="post">
                        <div class="img-container">
                            <img src="./images/products/Funda Para Notebook Gadnic.jpg"
                                alt="Funda Estuche Para Notebook Gadnic 14 Pulgadas Color Negro">
                        </div>
                        <div class="descripcion">
                            <h4>Funda Estuche Para Notebook Gadnic 14 Pulgadas Color Negro</h4>
                            <h5>$13.999</h5>
                        </div>
                    </article>
                    <article class="post">
                        <div class="img-container">
                            <img src="./images/products/Mesa Notebook.jpg"
                                alt="Mesa Notebook Laptop Soporte Plegable Regulable Cama Skyway Color Negra">
                        </div>
                        <div>
                            <h4>Mesa Notebook Laptop Soporte Plegable Regulable Cama Skyway Color Negra</h4>
                            <h5>$44.990</h5>
                        </div>
                    </article>
                    <article class="post">
                        <div class="img-container">
                            <img src="./images/products/Monitor Gamer Daewoo.jpg"
                                alt="Monitor Gamer 24 Daewoo Ips 165hz 1ms Full Hd Gm2422ki">
                        </div>
                        <div>
                            <h4>Monitor Gamer 24 Daewoo Ips 165hz 1ms Full Hd Gm2422ki</h4>
                            <h5>$256.999</h5>
                        </div>
                    </article>
                    <article class="post">
                        <div class="img-container">
                            <img src="./images/products/Mouse inalambrico logitech.png"
                                alt="Mouse Inalámbrico M280 Logitech Color Negro">
                        </div>
                        <div>
                            <h4>Mouse Inalámbrico M280 Logitech Color Negro</h4>
                            <h5>$14.229</h5>
                        </div>
                    </article>
                </section>
            </section>
            <section class="art-sect">
                <h3>Componentes de PC</h3>
                <section class="articulos">
                    <article class="post">
                        <div class="img-container">
                            <img src="./images/products/Disco Solido SSD 2TB Kingston.jpg"
                                alt="SSD Kingston NV3 2TB PCIe 4.0 NVMe">
                            <div>
                            </div>
                            <h4>SSD Kingston NV3 2TB PCIe 4.0 NVMe</h4>
                            <h5>$226.699</h5>
                        </div>
                    </article>
                    <article class="post">
                        <div class="img-container">
                            <img src="./images/products/Memoria Ram Kingston 8GB.jpg"
                                alt="Memoria RAM Fury Beast DDR4 gamer color negro 8GB 1 Kingston KF432C16BB/8">
                        </div>
                        <div>
                            <h4>Memoria RAM Fury Beast DDR4 gamer color negro 8GB 1 Kingston KF432C16BB/8</h4>
                            <h5>$31.999</h5>
                        </div>
                    </article>
                    <article class="post">
                        <div class="img-container">
                            <img src="./images/products/Micro AMD Ryzen 5 4600G.jpg"
                                alt="Microprocesador Pc Amd Ryzen 5 4600g 8mb 3.7ghz Socket Am4 100-100000147box 6 Nucleos 12 Hilos">
                        </div>
                        <div>
                            <h4>Microprocesador Pc Amd Ryzen 5 4600g 8mb 3.7ghz Socket Am4 100-100000147box 6 Nucleos 12
                                Hilos</h4>
                            <h5>$159.999</h5>
                        </div>
                    </article>
                    <article class="post">
                        <div class="img-container">
                            <img src="./images/products/Placa de Video MSI Nvidia Geforce RTX 4060.jpg"
                                alt="Msi Geforce Rtx 4060 Ventus 2x 8gb Gddr6">
                        </div>
                        <di v>
                            <h4>Msi Geforce Rtx 4060 Ventus 2x 8gb Gddr6</h4>
                            <h5>$510.999</h5>
                            </div>
                    </article>
                </section>
            </section>
            <section class="art-sect">
                <h3>Camaras y microfonos</h3>
                <section class="articulos">
                    <article class="post">
                        <div class="img-container">
                            <img src="./images/products/Cámara web Logitech C922 Pro.png"
                                alt="Cámara web Logitech C922 Pro Full HD 30FPS color negro">
                        </div>
                        <div>
                            <h4>Cámara web Logitech C922 Pro Full HD 30FPS color negro</h4>
                            <h5>$124.999</h5>
                        </div>
                    </article>
                    <article class="post">
                        <div class="img-container">
                            <img src="./images/products/Estabilizador Para Celular.png"
                                alt="Estabilizador Para Celular C/ Luz Microfono Y Control Remoto Color Negro">
                        </div>
                        <div>
                            <h4>Estabilizador Para Celular C/ Luz Microfono Y Control Remoto Color Negro</h4>
                            <h5>$12.011</h5>
                        </div>
                    </article>
                    <article class="post">
                        <div class="img-container">
                            <img src="./images/products/Camara Web VStarcam.png"
                                alt="Webcam Camara Web VStarcam CU1 Para Pc Usb Hd 1080p Con Microfono Color Negro">
                        </div>
                        <div>
                            <h4>Webcam Camara Web VStarcam CU1 Para Pc Usb Hd 1080p Con Microfono Color Negro</h4>
                            <h5>$34.989</h5>
                        </div>
                    </article>
                    <article class="post">
                        <div class="img-container">
                            <img src="./images/products/Kit 2 Microfonos Inalambricos Boya.png"
                                alt="Kit 2 Microfonos Inalambricos Boya By-v20 2.4ghz Usb Tipo C Color Negro">
                        </div>
                        <div>
                            <h4>Kit 2 Microfonos Inalambricos Boya By-v20 2.4ghz Usb Tipo C Color Negro</h4>
                            <h5>$112.600</h5>
                        </div>
                    </article>
                </section>
            </section>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>