*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

:root {
  --color-gris: #5C5C5C;
  --color-casi-negro: #060B0E;
  --color-gris-azulado: #7C93A2;
  --color-verde: #62D083;
  --color-rojo: #ED1D46;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #E3B5A4;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

#find{
    width: 14rem;
    height: 2.5rem;
}

.personal{
    display: flex;
    justify-content: space-between;
    height: 4rem;
}

.usu{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid brown;
    border-radius: 20%;
    margin: auto;
    padding: 0.3rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

a{
    text-decoration: none;
    color: black;
}

footer{
    background-color: #E3B5A4;
    display: flex;
    flex-direction: row;
}

.redes{
    display: flex;
    flex-direction: row;
}

.contact{
    display: flex;
    flex-direction: row;
}

img {
    width: 100%;
}

.icon-container{
    padding: 0.6rem;
    list-style: none;
    width: 50px;
    height: 50px;
}

.contact a {
    color: black;
} 