<!-- FOOTER -->
    <footer>
        <div class="icon-container"><img src="" alt="logo de la pagina"></div>
        <div>
            <ul class="redes">
                <li class="icon-container"><a href=""><img src="../../../images/design/iconos/facebook.png" alt="icono Facebook"></a></li>
                <li class="icon-container"><a href=""><img src="../../../images/design/iconos/instagram.png" alt="icono Instagram"></a></li>
                <li class="icon-container"><a href=""><img src="../../../images/design/iconos/whatsapp.png" alt="icono whatsapp"></a></li>
            </ul>
            
        </div>
        <div>
            <ul class="contact">
                <li class="icon-container"><a
                    href="mailto:godoyiramain01@gmail.com"><img src="../../../images/design/iconos/correo.png" alt="icono correo"></a></li>
                <li class="icon-container"><a
                        href="tel:+54 9 381 639-9663"><img src="../../../images/design/iconos/telefono.png" alt="icono telefono"></a></li>
                <li class="icon-container"><img src="../../../images/design/iconos/punto.png" alt="icono direccion
                "></li>
            </ul>
        </div>
    </footer>