<footer>
    <div class="footer-left">
        <div class="logo-container">
            <a href="/"><img src="" alt="logo de la pagina"></a>
            <p>Godoy Iramain Matias 2025</p>
        </div>
    </div>
    <div class="footer-middle">
        <ul>
            <li><a href="#">Acerca de la empresa</a></li>
            <li><a href="#">Política de privacidad</a></li>
            <li><a href="#">Términos y condiciones</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Preguntas frecuentes</a></li>
        </ul>
    </div>
    <div class="footer-right">
        <div class="payment-methods">
            <p>Métodos de pago aceptados</p>
            <ul class="payment-icons">
                <li class="icon-container"><img src="../../../images/design/iconos/visa.png" alt="icono Visa"></li>
                <li class="icon-container"><img src="../../../images/design/iconos/mastercard.png" alt="icono Mastercard"></li>
                <li class="icon-container"><img src="../../../images/design/iconos/paypal.png" alt="icono Paypal"></li>
            </ul>
        </div>
        <ul class="social-icons">
            <li class="icon-container"><a href="#"><img src="../../../images/design/iconos/facebook.png" alt="icono Facebook"></a></li>
            <li class="icon-container"><a href="#"><img src="../../../images/design/iconos/instagram.png" alt="icono Instagram"></a></li>
            <li class="icon-container"><a href="#"><img src="../../../images/design/iconos/whatsapp.png" alt="icono whatsapp"></a></li>
        </ul>
    </div>
</footer>