<nav>
    <div class="icon-container">
        <a href="/"><img src="" alt="logo de la pagina"></a>
    </div>
    <div>
        <input type="search" name="buscar" placeholder="Buscar" id="find">
    </div>
    <div>
        <ul class="personal">
            <li class="icon-container">
                <a href="/products/cart"><img src="./images/design/iconos/carro.png" alt="carrito de compras"></a></li>
            <li class="usu">
                <a href="/users/login">Ingresar</a>
            </li>
            <li class="usu">
                <a href="/users/register">Registrar</a>
            </li>
        </ul>
    </div>
</nav>