<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/nav.ejs') %>
    <!-- MAIN -->
    <main>
        <section id="formulario">
            <form action="/users/register" method="POST" enctype="multipart/form-data">
                <h3>Registro</h3>
                <div>
                    <label for="mail">Email:</label>
                    <input type="email" name="email" id="mail" required>
                </div>

                <div>
                    <label for="usu">Usuario:</label>
                    <input type="text" name="usuario" id="usu" required>
                </div>

                <div>
                    <label for="pass">Contraseña:</label>
                    <input type="password" name="password" id="pass" required>
                </div>

                <div>
                    <label for="name">Nombre:</label>
                    <input type="text" name="firstName" id="name" required>
                </div>

                <div>
                    <label for="ape">Apellido:</label>
                    <input type="text" name="lastName" id="ape" required>
                </div>

                <div>
                    <label for="birthdate">Fecha de nacimiento:</label>
                    <input type="date" name="dateOfBirth" id="birthdate" required>
                </div>

                <div>
                    <label for="rol">Rol:</label>
                    <select name="rol" id="rol" required>
                        <option value="admin">admin</option>
                        <option value="cliente">cliente</option>
                    </select>
                </div>

                <div>
                    <label for="avatar">Imagen de perfil:</label>
                    <input type="file" name="avatar" id="avatar" accept="image/*">
                </div>

                <div>
                    <input class="enviar" type="submit" value="Registrarse">
                </div>
            </form>
        </section>
    </main>
</body>

</html>